<!-- Validation failure messages -->
<% if @schedule.errors.any? %>
  <% @schedule.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Schedule</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_schedule" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :created_at, @schedule.location_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Schedule
      </button>
      or
      <a href="/schedules">Cancel</a>
    </form>
  </div>
</div>
